html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Inter Light";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/Inter-Light.eot");
  src: local("Inter Light"), url("../../fonts/Inter-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter-Light.woff2") format("woff2"), url("../../fonts/Inter-Light.woff") format("woff"), url("../../fonts/Inter-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Inter-Regular.eot");
  src: local("Inter Regular"), url("../../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter-Regular.woff2") format("woff2"), url("../../fonts/Inter-Regular.woff") format("woff"), url("../../fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/Inter-Medium.eot");
  src: local("Inter Medium"), url("../../fonts/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter-Medium.woff2") format("woff2"), url("../../fonts/Inter-Medium.woff") format("woff"), url("../../fonts/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter SemiBold";
  font-weight: 600;
  font-style: normal;
  src: url("../../fonts/Inter-SemiBold.eot");
  src: local("Inter SemiBold"), url("../../fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter-SemiBold.woff2") format("woff2"), url("../../fonts/Inter-SemiBold.woff") format("woff"), url("../../fonts/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/Inter-Bold.eot");
  src: local("Inter Bold"), url("../../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter-Bold.woff2") format("woff2"), url("../../fonts/Inter-Bold.woff") format("woff"), url("../../fonts/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Philosopher Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Philosopher-Bold.eot");
  src: local("Philosopher Bold"), url("../../fonts/Philosopher-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Philosopher-Bold.woff2") format("woff2"), url("../../fonts/Philosopher-Bold.woff") format("woff"), url("../../fonts/Philosopher-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Philosopher Italic";
  font-weight: 400;
  font-style: italic;
  src: url("../../fonts/Philosopher-Italic.eot");
  src: local("Philosopher Italic"), url("../../fonts/Philosopher-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Philosopher-Italic.woff2") format("woff2"), url("../../fonts/Philosopher-Italic.woff") format("woff"), url("../../fonts/Philosopher-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Philosopher";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Philosopher-Regular.eot");
  src: local("Philosopher"), url("../../fonts/Philosopher-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Philosopher-Regular.woff2") format("woff2"), url("../../fonts/Philosopher-Regular.woff") format("woff"), url("../../fonts/Philosopher-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "VelaSans";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/VelaSans-Regular.eot");
  src: local("VelaSans"), url("../../fonts/VelaSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/VelaSans-Regular.woff2") format("woff2"), url("../../fonts/VelaSans-Regular.woff") format("woff"), url("../../fonts/VelaSans-Regular.ttf") format("truetype");
}
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #F3F1EC;
  font-size: 1.6rem;
  color: #4B4B4B;
}

main {
  font-family: "Philosopher Bold", serif;
}
main button {
  padding: 24px 0;
  max-width: 560px;
}

button {
  font-family: "Inter", sans-serif;
  line-height: 120%;
  border-radius: 10px;
  color: #FFF;
  background: #9EAF7C;
  letter-spacing: -0.32px;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-family: "Philosopher Italic", serif;
  font-size: 3.8rem;
}

input {
  border-radius: 60px;
  padding: 16px;
}

textarea {
  border-radius: 20px;
  padding: 16px;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 25px;
}

.header__wrapper {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__link {
  font-family: "Philosopher Bold", serif;
  color: #FFF;
  font-size: 4rem;
}

.header__btn {
  border-radius: 60px;
  padding: 14.5px 13px;
}

.landing {
  font-family: "Inter Light", sans-serif;
  color: #FFF;
  background-color: #444237;
  padding: 130px 0 90px 0;
  background-image: url(../../image/background_landing.jpg);
  background-position: 57%;
  background-size: cover;
}

.landing__wrapper {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.landing__name-title {
  letter-spacing: -2.04px;
}

.landing__material-title {
  font-family: "Philosopher Italic", serif;
  font-size: 3.8rem;
}

.landing__from-title {
  font-size: 3.4rem;
  text-align: right;
  letter-spacing: -2.04px;
}

.landing__btn {
  margin-top: 40px;
}

.landing__list {
  margin-top: 50px;
}

.landing__list-item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  letter-spacing: -1.08px;
  margin-bottom: 16px;
}

.landing__list-icon {
  background: #9EAF7C;
  border-radius: 50%;
  padding: 13px;
  margin-right: 16px;
}

.landing__decor {
  position: absolute;
  margin-top: 45px;
}

.about-us__wrapper {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.about-us__img {
  margin-top: 35px;
}

.about-us__list {
  text-align: center;
}

.about-us__item {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  line-height: 140%;
  margin-top: 40px;
}

.about-us__span {
  font-family: "Philosopher Bold", serif;
  color: #9EAF7C;
  font-size: 7rem;
  line-height: 70%;
  margin-top: 35px;
}

.about-us__item:last-child .about-us__span {
  font-size: 3rem;
}

.about-us__decor {
  position: absolute;
  left: 20px;
}

.about-us__item:nth-child(2) .about-us__decor {
  transform: rotate(8deg);
}

.about-us__btn {
  margin-top: 80px;
}

.about-product {
  overflow: hidden;
}

.about-product__wrapper {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.about-product__title {
  margin: 40px 0;
}

.about-product__item {
  display: flex;
  border: 1px solid #C3BEBE;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(223, 224, 226, 0.2) 0.01%, rgba(143, 145, 149, 0.2) 100%);
  box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.11);
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
  padding: 10px 0 0 10px;
}

.about-product__first-item {
  padding-bottom: 30px;
}
.about-product__first-item .about-product__item-title {
  margin: 8px 0 5px 0;
}

.about-product__second-item {
  position: relative;
  z-index: 2;
  margin-top: -55px;
  padding-bottom: 38px;
}
.about-product__second-item .about-product__item-title {
  margin: 27px 0 16px 0;
}

.about-product__third-item {
  position: relative;
  z-index: 4;
  margin-top: -120px;
  padding: 10px 14px 19px 10px;
}
.about-product__third-item .about-product__item-title {
  margin: 10px 0 10px 0;
  max-width: 200px;
}

.about-product__icon {
  background-color: #9EAF7C;
  border-radius: 50%;
  block-size: -moz-min-content;
  block-size: min-content;
  padding: 5px;
}

.about-product__item-main {
  margin-left: 24px;
}

.about-product__item-title {
  font-size: 2.6rem;
}

.about-product__item-info {
  font-family: "Inter", sans-serif;
}

.about-product__item-span {
  font-family: "Inter Semibold", sans-serif;
}

.about-product__first-img {
  position: relative;
  left: 32px;
  margin-top: -28px;
  z-index: 1;
  height: auto;
  width: 430px;
}

.about-product__second-img {
  position: relative;
  left: -366px;
  margin-top: -37px;
  z-index: 3;
  height: auto;
  width: 640px;
}

.catalog__wrapper {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.catalog__title {
  margin-top: 40px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

.catalog__name {
  margin-top: 11.2px;
  max-width: 140px;
}

.catalog__svg {
  max-width: 156px;
}

.catalog__item:first-child .catalog__name,
.catalog__item:nth-child(2) .catalog__name {
  max-width: none;
}

.catalog__btn {
  margin: 45px 0;
}

.action {
  font-family: "Inter Light", sans-serif;
  color: #FFF;
  background-color: #444237;
  background-image: url(../../image/background_form.jpg);
  background-position: 70%;
  background-size: cover;
}

.action__wrapper {
  width: 300px;
  margin: 0 auto;
  padding: 50px 0 63px 0;
}

.action__form {
  display: flex;
  flex-direction: column;
}

.action__name-title {
  font-size: 3.2rem;
  font-family: "Inter Light", sans-serif;
  letter-spacing: -1.92px;
}

.action__title-about {
  font-size: 2.4rem;
  letter-spacing: -1.44px;
}

.action__title-answer {
  font-family: "Philosopher Italic", serif;
  font-size: 3.2rem;
}

.action__input-name {
  margin-top: 50px;
}

.action__input-telephone {
  margin-top: 20px;
}

.action__input-comment {
  margin-top: 20px;
}

.action__condition {
  line-height: 120%;
  font-size: 1rem;
  margin-top: 15px;
}

.action__link {
  color: #9EAF7C;
}

.action__link:hover {
  text-decoration: underline;
}

.action__btn {
  margin-top: 23px;
}

.action__first-decor {
  margin-top: -17px;
}

.action__second-decor {
  margin-bottom: -17px;
}

.instruction__wrapper {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.instruction__title {
  margin-top: 35px;
}

.instruction__item {
  background: #FFF;
  border-radius: 20px;
  min-height: 406px;
  padding: 45px 13px;
  margin: 35px 0;
}

.instruction__about {
  padding-left: 12px;
}

.instruction__info {
  font-family: "Inter", sans-serif;
}

.instruction__list-title {
  font-size: 2.8rem;
}

.instruction__img {
  display: block;
  margin: 0 auto 45px auto;
}

.instruction__list-title {
  margin: 17px 0;
}

.reviews__wrapper {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  margin-top: 56px;
}

.reviews__list {
  margin-top: 26px;
}

.reviews__item {
  background: #FFF;
  border-radius: 20px;
  margin-top: 18px;
  padding: 16px 18px 40px 18px;
}

.reviews__user {
  display: flex;
  align-items: center;
  margin-bottom: 29px;
}

.reviews__user-logo {
  margin-right: 24px;
}

.reviews__user-name {
  font-size: 2.8rem;
}

.reviews__svg {
  margin-left: -5px;
}

.reviews__about {
  font-family: "Philosopher", serif;
  font-size: 1.4rem;
  margin-top: 15px;
}

.reviews__btn {
  margin: 62px 0;
}

.clients__wrapper {
  width: 300px;
  margin: 0 auto;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 23px;
}

.clients__item {
  background-color: #FFF;
  border-radius: 20px;
  padding: 8px 0 14px 10px;
  width: 140px;
  height: 140px;
  margin-top: 18px;
}

.clients__logo {
  display: block;
  margin: 0 auto;
}

.footer__title {
  width: 300px;
  margin: 0 auto;
  margin-top: 90px;
}

.footer__map {
  margin-top: 40px;
}

.footer__background {
  background: #9EAF7C;
}

.footer__list {
  width: 300px;
  margin: 0 auto;
  font-family: "Philosopher", serif;
  color: #FFF;
  padding: 34px 0 73px 0;
}

.footer__item {
  line-height: 180%;
}/*# sourceMappingURL=style.css.map */